.main-form {
    width: 65%;
    margin: 70px auto 0px;
    padding: 80px;
    border-radius: 14px;
    border-radius: 50px;
    background: linear-gradient(to left, rgb(109 179 242 / 2%), rgb(109 179 242 / 55%));
    box-shadow: linear-gradient(to left, rgba(109, 179, 242, .9), rgb(109, 179, 242)), linear-gradient(to left, rgba(109, 179, 242, .9), rgb(109, 179, 242));
}

.main-form .form-control {
    width: 60%;
    color: #fff;
    padding: 15px 15px 15px 30px;
    border-radius: 50px;
    border-radius: 50px;
    background: rgba(109, 179, 242, .6);
    box-shadow: inset 20px 20px 100px #3e4e5d, inset -20px -20px 100px #faffff;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-btn {
    width: 20%;
    display: block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    border-color: #b3c1d5;
    border-radius: 50px;
    box-shadow: inset 20px 20px 100px #3e4e5d, inset -20px -20px 100px #faffff;
}

.main-form .form-btn {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 1.5px;
    color: rgb(255 255 255);
    cursor: pointer;
}