.App{
    text-align: center;
    background-image: url(../src/images/Meer.Shuaib.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    height: 100vh;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: #055e6a !important;
}
.innerapp {
    padding: 150px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
    box-sizing: border-box;
    width: 250px;
    margin: 76px 51px;
    padding: 20px;
    box-shadow: 0px 7px 10px 6px #1f5d6c;
   
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    height: 70% !important;
    /* background-color: transparent !important; */
    
}

.css-z2eky3-MuiTypography-root {
    width: 80% !important;
    margin: 0px auto 25px !important;
}

@media (min-width: 600px) {
    .css-1t29gy6-MuiToolbar-root {
        min-height: 0px !important;
    }
}