.custm-rout {
    text-decoration: none;
    line-height: 80px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(109, 179, 242);
    transition: .3s;
}

.custm-rout:hover {
    color: rgb(136 153 178)
}

.main-manu {
    display: flex;
}

.inner-main-manu {
    align-items: center;
    justify-content: center;
}

.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
    justify-content: center !important;
}